.rectangle {
    position: fixed;
    width: 100%;
    height: stretch;
    background: #D6E4F0;
    border-radius: 200px 200px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
